/* Mise en forme générale */
* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    background-color: #e7e5e5;
    text-align: justify;
}

p, h2, h3 {
    margin: 10px;
}

/* Première section, intro */

#profile-pic {
    border-radius: 50%;
    border-style: solid;
    border-color: #878686;
    border-width: 3px;
    width: 100px;
}

h1 {
    color:rgb(196, 57, 57);
}

header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    max-width: 700px;
}

/* Deuxième section, liens réseaux sociaux */

nav {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    max-width: 700px;
    padding-left: 229px;
    padding-right: 229px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float:left;
}

li a {
    text-align: center;
    display: block;
    padding: 16px;
    color: rgb(175, 172, 172);
}

a {
    text-decoration: none;
}

/* Troisième section, films */

article {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 700px;
}

.movies p {
    margin-left: 30px;
}

h3 {
    text-align: center;
    font-weight: 500;
}

.bouton {
    background-color: rgb(221, 88, 88);
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
}

.movies {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
}

img {
    width: 90px;
    min-width: 90px;
}

/* Pour tablette */

@media only screen and (max-width: 900px) {

    header, nav, article {
        max-width: 400px;
    }

    nav {
        max-width: 300px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .movies {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/* Pour smartphone */

@media only screen and (max-width: 400px) {

    body {
        text-align: center;
    }

    header {
        max-width: 300px;
        text-align: center;
    }

    article {
        max-width: 300px;
        display: flex;
        flex-direction: column;
    }

    .movies {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 30px;
    }

    nav {
        max-width: 300px;
        padding-left: 20px;
        padding-right: 20px;
    }

}